body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.header {
  background: #0b2e59;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  background: #174b85;
  padding: 10px 15px;
  border-radius: 6px;
}

.menu a:hover {
  background: #2467b1;
}

.container {
  width: 95%;
  margin: 25px auto;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
}
